 <!-- footer begin -->
<footer class="footer">
    <div class="footer__top container">
        <div class="footer__top__colum">
            <div class="footer__top__colum__title">
                <p>Tổng đài hỗ trợ miễn phí</p>
                <aside>
                    Gọi mua hàng <p style="display: inline-block;">1800.2097</p> (7h30 - 22h00) <br>
                    Gọi khiếu nại <p style="display: inline-block;">1800.2063</p> (8h00 - 21h30) <br>
                    Gọi bảo hành <p style="display: inline-block;">1800.2064</p> (8h00 - 21h00) <br>
                </aside>
                <p>Phương thức thanh toán</p>
                <ul>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/alepay-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/zalopay-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/vnpay-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/moca-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/onepay-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/kredivo-logo.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/mpos-logo.png" alt=""></a></li>
                </ul>
            </div>
            <div class="footer__top__colum__content">
            </div>
        </div>
        <div class="footer__top__colum">
            <div class="footer__top__colum__title">
                <p>Thông tin và chính sách</p>
                <aside>

                    Mua hàng và thanh toán Online <br>
                    Mua hàng trả góp Online <br>
                    Tra thông tin đơn hàng<br>
                    Tra điểm Smember<br>
                    Xem ưu đãi Smember<br>
                    Tra thông tin bảo hành<br>
                    Tra cứu hoá đơn điện tử<br>
                    Thông tin hoá đơn mua hàng<br>
                    Trung tâm bảo hành chính hãng<br>
                    Quy định về việc sao lưu dữ liệu<br>
                </aside>

            </div>
            <div class="footer__top__colum__content">
            </div>
        </div>
        <div class="footer__top__colum">
            <div class="footer__top__colum__title">
                <p>Dịch vụ và thông tin khác</p>
                <aside>

                    Khách hàng doanh nghiệp (B2B) <br>
                    Ưu đãi thanh toán<br>
                    Quy chế hoạt động<br>
                    Chính sách Bảo hành<br>
                    Liên hệ hợp tác kinh doanh<br>
                    Tuyển dụng<br>
                    Dịch vụ bảo hành điện thoại<br>
                    Dịch vụ bảo hành mở rộng<br>
                </aside>
            </div>
            <div class="footer__top__colum__content">
            </div>
        </div>
        <div class="footer__top__colum">
            <div class="footer__top__colum__title">
                <p>Kết nối với chúng tôi</p>
                <ul>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/cellphones-youtube.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/cellphones-facebook.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/cellphones-instagram.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/cellphones-tiktok.png" alt=""></a></li>
                    <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/zalopay-logo.png" alt=""></a></li>

                </ul>

            </div>
            <div class="footer__top__colum__content">
            </div>
        </div>

    </div>
    <div class="footer__bottom ">
        <div class="copyright-footer container">

            Công ty TNHH Thương Mại và Dịch Vụ Kỹ Thuật DIỆU PHÚC - GPĐKKD: 0316172372 cấp tại Sở KH & ĐT
            TP. HCM. Địa chỉ văn phòng: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh,
            Việt Nam. Điện thoại: 028.7108.9666.
            <ul>
                <li>
                    <a href=""><img src="~/LayoutFrontEnd/images/logo-footer/dmca_copyright_protected150c.png" alt=""></a>
                </li>
                <li><a href=""><img src="~/LayoutFrontEnd/images/logo-footer/logoSaleNoti.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Footer End -->