<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="~/LayoutAdmin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LayoutAdmin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/LayoutAdmin/css/style.css">
    <link rel="shortcut icon" href="~/LayoutAdmin/images/favicon.ico" />
</head>
<body>
    <style>
        .img-user {
            background-color: #F2F2F2;
            border-radius: 50% 50%;
            width: 100px;
            height: 100px;
            position: absolute;
            top: -50px;
            left: 38%;
        }

            .img-user img {
                scale: 1.1;
                position: absolute;
                top: 18px;
                left: 1px;
                max-width: 100%;
                max-height: 100%;
                opacity: 0.4;
            }

        .form-container {
            height: auto;
            margin: auto;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 40px 30px 10px;
            max-width: 430px;
            text-align: center;
            position: relative;
        }

        .backgroundd {
            background-image: linear-gradient(to right,#CCFED9,#96BCFD) !important; /* Replace these colors with your desired gradient */
            color: transparent !important;
            width:100%;
            height:auto;
        }

        .error-message {
            color: #ff7675;
            line-height:1.2;
            font-size: 13px;
            text-align: left;
            margin-left:16px;
            margin-top:5px;
        }
    </style>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper ">
            <div class="content-wrapper d-flex align-items-center auth backgroundd">
                <div class="row flex-grow ">
                    <div class="col-lg-4 mx-auto form-container" style="margin-top:30px;">
                        <div class="img-user">
                            <img src="~/LayoutAdmin/images/user-removebg-preview.png" />
                        </div>
                        <div class="auth-form-light text-left ">
                            <!--------------------------Thẻ form ----------------->
                            <form class="pt-2" method="post" action="/Admin/Account/LoginPost" onsubmit="return validateForm(event)">
                                <div class="form-group " style="margin-bottom:0.5rem; margin-top:1.8rem; ">
                                    <p style="color:#BEBEBE; font-weight:900; font-size:33px; letter-spacing:1px;">Đăng nhập</p>
                                </div>
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <i class="mdi mdi-account" style="position: absolute; left: 17px; top: 50%; transform: translateY(-50%); color:#D0CFCF; font-size:20px; "></i>
                                        <input style="border-radius: 30px; padding-left: 40px;" type="text" class="form-control form-control-lg " name="UserName" id="UserName" placeholder="Tên đăng nhập" required>
                                        
                                    </div>
                                    <p class="error-message" id="userNameError"></p>
                                </div>
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <i class="mdi mdi-lock" style="position: absolute; left: 17px; top: 50%; transform: translateY(-50%); color:#D0CFCF; font-size:18px;"></i>
                                        <input style="border-radius: 30px; padding-left: 40px;" type="password" class="form-control form-control-lg" name="Password" id="Password" placeholder="Mật khẩu" required>
                                        <button style="position: absolute; right: 17px; top: 50%; transform: translateY(-50%); color:#D0CFCF; font-size:18px;border:none; background-color:#fff;" type="button" id="togglePassword" class="toggle-password" onclick="togglePasswordVisibility()">
                                            <i class="mdi mdi-eye"></i>
                                        </button>
                                        
                                    </div>
                                    <p class="error-message" id="passwordError">@ViewBag.Error</p>
                                </div>
                                <div class="form-group">
                                    <button style="border-radius:30px; font-size:18px;" type="submit" class="btn col-12 btn-lg btn-gradient-success">Đăng nhập</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/LayoutAdmin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/LayoutAdmin/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/js/misc.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            var toggleButton = document.getElementById("togglePassword");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.innerHTML = '<i class="mdi mdi-eye-off"></i>';
            } else {
                passwordInput.type = "password";
                toggleButton.innerHTML = '<i class="mdi mdi-eye"></i>';
            }
        }
    </script>
    <script src="~/js/site.js"></script>
    <!-- endinject -->
</body>
</html>